<h1> Add a new item </h1>

<form action="/backdoor/add_item" method="post">
  <label for="item_url">Link URL</label>
  <input id="item_url" name="item_url" type="text" placeholder="Enter a URL...">
  <br>
  <label for="item_description">Link Description</label>
  <input id="item_description" name="item_description" type="text" placeholder="Enter a link description...">
  <br>
  <label for="thumbnail_url">Thumbnail URL</label>
  <input id="thumbnail_url" name="thumbnail_url" type="text" placeholder="Enter a thumbnail URL">
  <br>
  <button>Create item</button>
</form>
